{% extends 'Blog/base.html' %}
{% load static %}

{% block contenido %}
    <h1>Perfil de Usuario</h1>
    <h3>Nombre: {{ request.user.username }}</h3>
    <p>Email: {{ request.user.email }}</p>
    {% if request.user.perfil.avatar %}
        <img src="{{ request.user.perfil.avatar.url }}" alt="Avatar" style="width: 200px; height: 200px;">
    {% endif %}
    {% if request.user.perfil.descripcion %}
    <p>Descripción: {{ request.user.perfil.descripcion }}</p>
    {% endif %}
{% endblock contenido %}